/* 폰트 임포트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

* {
  /* font-family: ; */
  font-family: "Noto Sans KR", sans-serif;
}

.App {
  margin: 0;
  user-select: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 505px) {
  /* .App {
    width: 90%;
  } */
  .headerText {
    display: none;
  }
}
